/* global property */
html{
    font-size: 100%;
    box-sizing: border-box;
}
*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
}

<<<<<<< HEAD
body
{
    font-family:Helvetica,Arial,sans-serif;
=======
body{
    width: 100vw;
    overflow-x: hidden;
>>>>>>> 7e0c0ff6a4e29580c40084919a1023cc5c426fcf
}

#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    color: inherit;
}

a:hover
{
    color:rgb(10, 10, 184);
}
/* ---------------------------------------------------------------------------------------------
                                 entete No 1
--------------------------------------------------------------------------------------------- */

header
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: #fff;
}



.info_header
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:#1DAAF2;
    color: white;
    padding: .2rem .5rem;
}

.info_header > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    padding: 0 .5rem;
    text-align: center;
}
/* ---------------------------------------------------------------------------------------------
                                 entete No 2-bar menu version desktop
--------------------------------------------------------------------------------------------- */


.nav_header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav_header > *{
    padding: .1rem .5rem;
}

.nav_header > .varpm{
    margin: .1rem .5rem .1rem 0;
}

#close-open {
    display: none;
}

.nav_header> ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: .1rem 0 .1rem 0;
}

.nav_header ul li a:hover
{
    flex: 1;
    background-color: #1DAAF2;
    color: white;
}
 
.nav_header .varpm {
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.nav_header .varpm:hover {
  letter-spacing: 0.5rem;
}

/* .nav_header ul
{
    list-style: none;
    display: flex;
} */

.nav_header ul li a
{
    padding: .1rem 1rem;
    font-size: 1.3rem;
}

/* ------------------------------------------------------------------------------------------
                          container     banner 
-------------------------------------------------------------------------------------------- */

.banner
{
    
    background: url(../images/calculator-calculation-insurance-finance-53621.jpeg) no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-bottom: 12px;
}


/* ----------------------------------------------------------------------------------------------
               container description varpm
-------------------------------------------------------------------------------------------- */

.description-varpm
{  
    display: flex;
    justify-content: space-around;
    margin-left:10%;
    margin-right:10%;
}

.description-varpm .logo
{
    width:40%;
}


.description-varpm .description 
{
    width:40%;
    text-align: justify;
}
/* year degree */
.year_degree
{
    text-align: center;
    background-color: #1DAAF2;
    color: white;
    padding: 3px;
    margin-top: 10px;
}
/* --------------------------------------------------------`---------------------------------
            container execercice var
----------------------------------------------------------------------------------------- */
.box_exercice_var,.niveau_2
{
    height: auto;
    background:#CCCCCC;

}

.same_box_exercice
{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.3em;
    color: white;
}

.same_box_exercice div
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(83, 83, 83);
    width: 200px;
    padding: 5px;
}

/* ajout de couleur de fond pour les boites */
.same_box_exercice div:nth-child(1)
{
    background-color: #1DAAF2;
}

.same_box_exercice div:nth-child(2)
{
    background-color: #8CC052;  
}


.same_box_exercice div:nth-child(3)
{
    background-color: #5D50C6; 
}

/* segon degree */

.niveau_2
{
    height: auto;
}

.niveau_2 div
{
    padding: 20px;
}

.niveau_2 .single_box div:nth-child(1)
{
    background-color: #8CC052;  
   
}



/* -----------------------------------------------------------------------------------------
            container logo universites
----------------------------------------------------------------------------------------- */

.university
{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.university div 
{
   margin-top: 5%;
}

.university div img
{
    border: solid 1px gray;
    border-radius: 50%;
    width: 200px;
}


/* -----------------------------------------------------------------------------------------
            container logo universites
----------------------------------------------------------------------------------------- */

.partenariat
{
    margin-top:5%;
}

.partenariat h1
{
    text-align: center;
    margin-bottom: 5%;
}
.partenariat ul
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* -----------------------------------------------------------------------------------------
                         footer
----------------------------------------------------------------------------------------- */

footer
{
    margin-top:1rem;
    color:white;
    background-color: #03020B;
}
footer a:hover
{
    color:#1DAAF2;
}

footer i
{
    font-size: 2em;
}
footer h1
{
    font-size:1em;
}

<<<<<<< HEAD
.footer_div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.atom_icon
{
    font-size: 3em;
}


.info_sup
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_footer a
{
   padding-right:16px;
}
=======


@media only screen and (max-width: 400px){

    .info_header{
        flex-wrap: wrap;
        font-weight: bold;
    }

    .info_header p {
        text-align: left;
        font-size: .6rem;
        margin: .2rem;
    }

    header .varpm{
        display: none;
    }

    header nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: .5rem;
    }

    #close-open{
        display: flex;
        margin: 1rem auto;
    }

    .nav_header ul{
        text-align: center;
        flex-direction: column;
        display: none;
        transition: all 1s ease-in-out;
    }

    .hidde{
        display: none;
    }

    .show{
        display: flex;
    }
}
>>>>>>> 7e0c0ff6a4e29580c40084919a1023cc5c426fcf
